@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* nice default button */

button {
  padding: 5px 10px;
  border: 1px solid #a2a6ac;
  border-radius: 5px;
  background: #f5f5f5;
  color: #333;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  user-select: none;

}

input[type="file"] {
  display: none;
}

button:hover {
  background: #e7e7e7;
}

button:active {
  background: #d9d9d9;
}

#toolbar button:active {
  border-bottom-color: #a2a6ac;
}

#toolbar button:active:hover {
  border-bottom-color: #a2a6ac;
}

#toolbar button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#toolbar button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

body div.mxPopupMenu {
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 2px;
}

body table.mxPopupMenu {
  border-collapse: collapse;
  margin: 0px;
}

body tr.mxPopupMenuItem {
  color: black;
  cursor: pointer;
}

body td.mxPopupMenuItem {
  padding: 6px 12px 6px 6px;
  font-family: Arial;
  font-size: 10pt;
  user-select: none;
}

body td.mxPopupMenuIcon {
  background-color: white;
  padding: 0px;
}

body tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
}

table.mxPopupMenu hr {
  border-top: solid 1px #cccccc;
}

table.mxPopupMenu tr {
  font-size: 4pt;
}

input, select {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 5px;
  width: 100%;
}

#properties-mananger form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min-content;
  gap: 5px;
}

label {
  margin-right: 5px;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  padding: 5px;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#000f 98%,#fff0 ) 0 0/20px 20px no-repeat,
    conic-gradient(from 90deg at 10px 10px,#fff0 90deg,#000f 0) content-box,
    conic-gradient(from -90deg at 40px 40px,#fff0 90deg,#000f 0) content-box,
    #fff;
  filter: blur(4px) contrast(10);
  animation: l11 2s infinite;
}
@keyframes l11 {
  0%   {background-position:0 0}
  25%  {background-position:100% 0}
  50%  {background-position:100% 100%}
  75%  {background-position:0% 100%}
  100% {background-position:0% 0}
}