#graph-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 750px;
    max-height: 90vh;
    overflow: hidden;
}

.flex-column {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.flow-row {
    display: flex;
    flex-direction: row;
}

#toolbar {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    overflow-x: scroll;
    scrollbar-width: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    row-gap: 10px;
}

#toolbar::-webkit-scrollbar {
    display: none;
}

#toolbar button {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#toolbar button:active {
  border-bottom-color: #a2a6ac;
}

#toolbar button:active:hover {
  border-bottom-color: #a2a6ac;
}

#toolbar button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#toolbar button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

body div.mxPopupMenu {
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 2px;
}

body table.mxPopupMenu {
  border-collapse: collapse;
  margin: 0px;
}

body tr.mxPopupMenuItem {
  color: black;
  cursor: pointer;
}

body td.mxPopupMenuItem {
  padding: 6px 12px 6px 6px;
  font-family: Arial;
  font-size: 10pt;
  user-select: none;
}
body td.mxPopupMenuIcon {
  background-color: white;
  padding: 0px;
}
body tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
}
table.mxPopupMenu hr {
  border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
  font-size: 4pt;
}